<nav class="header fx-row">
  <a
    class="btn btn-link"
    routerLink="/posts"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: false}"
  >
    Blog
  </a>

  <a
    *ngIf="userService.currentUser.name"
    class="btn btn-link"
    routerLink="/create"
    routerLinkActive="active"
  >
    Create Post
  </a>

  <a
    class="btn btn-link"
    routerLink="/welcome"
    routerLinkActive="active"
  >
    <span *ngIf="userService.currentUser.name; else elseBlock">
      <img class="author-image" src={{userService.currentUser.image}} alt="">
      {{userService.currentUser.name}}
    </span>
    <ng-template #elseBlock>
      Login/Register
    </ng-template>
  </a>

</nav>

