<main class="blog-container">

  <aside class="post-list-container">
    <div class="post-thumbnail" *ngFor="let post of dbService.posts | async">

      <a [routerLink]="[post.key]">
        <img class="thumbnail-image" src={{post.image}} alt="">
        <h5>{{post.title}}</h5>
        <p>
          <img class="author-image" src={{post.author.image}} alt="">
          By {{post.author.name}},
          {{post.date | date: 'M/d/yyyy' }}
        </p>
      </a>
      <hr>


    </div>
  </aside>

  <section class="post">
    <router-outlet></router-outlet>
  </section>

</main>




